* { box-sizing:border-box; font-family: 'Montserrat', sans-serif}

body{
  background-color: #2B2733;
  color: #CBC9CF;
  display:grid;
  grid-template-areas:
  "header header header header header header"
  "main main main main aside aside";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90px 100vh;
  height:100vh;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
}
header{
  background-color: #46414D;
  color: #FFF;
  grid-area: header;
  text-align: center;
  text-transform: uppercase;
  height:70%;
}
h1{
  font-size: 25px;
  font-weight:normal;
}

main,
.new-intention-page{
  grid-area:main;
  grid-column-start:1;
  grid-column-end:5;
}
h2{
  margin-left:20px;
}
.container{
  padding: 30px 80px;
}
section{
  background-color:#46424D;
  border-radius: 5px;
  color: #FFF;
  margin: 0 20px;
  width: 90%;
  height: 83%;
}
.button-container{
  display:flex;
  justify-content: space-between;
  margin:0px;
  width:100%;
}
button{
  background-color:#46424D;
  height:60px;
  border-color:white;
  border-radius: 5px;
  width:150px;
  display:inline-block;
  text-align:center;
  cursor:pointer;
}
.in-button{
  margin:0;
  color:white;
}
.study{
  display:flex;
  width:20px;
  height:20px;
  margin-left:55px;
}
h3{
  font-weight:normal;
}
